div.persistent-banner {
  background-color: $banner_background_color;
  color: $banner_text_color;
  padding: 3px;
  border: #{$banner_border_thickness}px solid $banner_border_color;
  text-align: center;
  max-width: 100%;
  /*max-width: calc(var(--d-sidebar-width) + var(--d-max-width));*/
  whitespace: pre-wrap;
}

p {
  color: --primary;
  whitespace: pre-wrap;
}

a {
  color: --tertiary;
}
