div.persistent-banner {
    background-color: $banner_background_color;
    color: $banner_text_color;
    padding: 3px;
    border: 3px solid $banner_text_color;
    text-align: center;
    width: 100%;
    display: $banner_visible;
}

p {
    color: --primary;
}

a {
    color: --tertiary;
}
