div.persistent-banner {
    background-color: $banner_background_color;
    color: $banner_text_color;
    padding: 3px;
    border: $banner_border_thickness solid $banner_border_color;
    text-align: center;
    max-width: calc(var(--d-sidebar-width) + var(--d-max-width));
}

p {
    color: --primary;
}

a {
    color: --tertiary;
}
